page-contact {
p {
  font-size: large;
  color: green;
}
  .greenboldtext{
  font-size: large;
  color: green;
  font-weight: bold;
}
#container{
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #666;
  background: #8f8f8f;
}
.italic{
  font-style: italic;
}

}
