page-home {

   .toolbar-background {
    background-color: rgb(40, 40, 115);
  }
  .toolbar-title {
    color: rgb(245, 160, 20);
  }

  ion-content {
    background-image: url("../assets/imgs/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 498px 759px;
    background-position: 1px 50px;

    font-family: AvenirLTStd-Book;

    .language-elmnt {
      font-size: 95%;
    }

    .language-list {
      margin-left: auto;
      margin-top: 10px;
    }
    .item {
      background-color: rgba(225, 225, 225, 0);
    }
    .welcome {
      //width: 50%;
      color: #090909;
      border: 1px solid black;
    }

    .top-box {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      width: 100%;

      justify-content: space-between;

      //margin:auto;
      //position: fixed;

      .logo {
        width: 200px;
        background-image: url("../assets/imgs/logo-sq.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;

      }
      .area1 {

      }

      .area2 {
        width: 50%;
      }
    }

    .middle-box {
      font-family: AvenirLTStd-Book;
      font-size: 32px;
      color: rgba(245, 160, 20, 1.1);
      text-align: center;
      line-height: 36px;
      padding: 90px 40px 0px;
    }

    .bottom-box {
      margin-top: 100px;
      text-align: center;
    }

    .text1 {
      font-weight: bold;
      font-size: large;
      color: rgb(245, 160, 20);
    }

    .text2 {
      color: rgba(249, 249, 249, 0.94);
    }
    .button-md-primary {
      background-color: rgb(40, 40, 115);
    }
    .button-md:hover {
    background-color: rgb(40, 40, 115);
  }

  .button-md:hover:not(.disable-hover) {
    background-color: rgb(40, 40, 115);
  }

  }
}



