page-home {
  ion-content {
    background-image: url("../assets/imgs/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 498px 759px;
    background-position:1px 50px;

    font-family: AvenirLTStd-Book;

    .language-elmnt{
      font-size: 95%;
    }

    .language-list {
      margin-left: auto;
      margin-top: 10px;
    }
    .item{
      background-color: rgba(225, 225, 225, 0);
    }
    .welcome {
      //width: 50%;
      color: #090909;
      border: 1px solid black;
    }

    .top-box {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      width: 500px;
      margin:auto;

      position: fixed;


      .logo{
        width: 300px;
        background-image: url("../assets/imgs/logo-sq.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;

      }
      .area1{

      }

      .area2{
        width: 31%;
      }
    }

    .middle-box{
      font-family:AvenirLTStd-Book;
      font-size: x-large;
      color: rgba(217, 204, 190,0.85);
      margin: 180px 50px;
      text-align: center;
      position: fixed;
    }

    .bottom-box{
      width: 250px;
      height: 150px;
      margin: 500px 100px;
      position: fixed;

    }

    .text1{
      color: #b58818;
      font-weight: bold;
      font-size: large;
    }

    .text2 {
      color: rgba(249, 249, 249, 0.94);
    }
    .button-md-primary{
      background-color: #003778;
    }

}
  }



